body {
    background-image: url('bg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; /* Added relative positioning */
}

header {
    background: rgb(224, 177, 206);
    color: #fff;
    text-align: center;
    width: 100%;
}

.header-image {
    display: block;
    margin: 20px auto; /* Adjust top and bottom margin as needed */
    width: 100px; /* Keep the width of the header image */
    height: auto; /* Maintain aspect ratio */
}

nav {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav button {
    color: #fff;
    background-color: #f55db0;
    border: none;
    padding: 8px 12px; /* Adjusted padding */
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px; /* Adjusted font size */
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.1s ease, border-radius 0.3s ease;
}

nav button:hover {
    background-color: #f5d6f8;
}

nav button:active {
    transform: scale(0.95);
    border-radius: 12px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the container horizontally */
    gap: 20px;
    padding: 20px;
}

.item-container {
    width: 300px; /* Set a fixed width for the item containers */
}

.item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; /* Make items take full width of their container */
    text-align: center;
    padding: 20px; /* Add padding to each item */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    filter: blur(5px); /* Apply blur effect initially */
    transition: filter 0.3s; /* Smooth transition for the blur effect */
}

.item-container:hover img {
    filter: blur(0); /* Remove blur effect on hover */
}

.item h3 {
    margin: 10px 0;
}

.item p {
    margin-bottom: 10px;
    color: #666;
}

.bid-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bid-details p {
    margin: 0;
}

.bid-details button {
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}

.bid-details button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}



footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: auto;
    width: 100%;
}
